.title {
	background-color:black;
	color: white;
	text-align:center;
}

.body {
	background-color:lightblue;
	color:white;
	text-align:center;
	margin-left:100px;
	margin-right:100px;
}

.footer {
	color: black;
	text-align:center;
	margin-left:100px;
	margin-right:100px;
}